---
import Layout from "../layouts/Layout.astro"
import Pagination from "../components/Pagination.astro"

const { current, totalPage } = Object.fromEntries(
    Astro.url.searchParams.entries()
)
---

<Layout title="test">
    <main>
        <Pagination
            current={Number.parseInt(current)}
            total={Number.parseInt(totalPage) || 36}
            id="main-pagination"
        />
    </main>
    <script>
        const pagination = document.getElementById("main-pagination")
        pagination &&
            pagination.addEventListener("page-to", e => {
                const search = new URLSearchParams(location.search)
                search.set("current", `${(e as CustomEvent<number>).detail}`)
                location.search = `${search}`
            })
    </script>
</Layout>

<style></style>
